# Flutter/Dart
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub-cache/
/.pub/
/android/app/build/

# Android logs/temp
*.hprof
*.pyc
*.xml
*.flat

# iOS specific
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# macOS specific
.DS_Store
/macos/Flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.swp
*.lock

# Secrets
assets/service-account.json